<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Bank System</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/libs")
    @Styles.Render("~/Content/common")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="MasterPageController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bank System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="container page-header-container">
            <div class="page-header">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Bank System</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
